* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html {
    background: url(./photo/bcg.jpg);
    background-size: 100% 100%;
    width: 100%;
    font-family: 'Oswald', sans-serif;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.8);

}

div.one {
    opacity: 0;

}

div.one.active {
    transition: .4s ease-in-out;
    opacity: 1;
    width: 100%;
    height: 25%;
    padding: 8px;
    position: fixed;
    background-color: rgb(14, 90, 12);
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    font-size: 50px;
    letter-spacing: 2px;
}

div.two {
    opacity: 0
}

div.two.active {
    transition: .4s ease-in-out;
    opacity: 1;
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    background-color: black;
    text-shadow: 1px 1px 22px #1DCC14;
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    font-size: 60px;
    letter-spacing: 2px;
}


div.three h2 {
    padding-top: 20px;
    font-size: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 12px #1DCC14;
}

div.four h2 {
    font-size: 22px;
    text-align: center;
    color: rgb(29, 204, 20);
    text-shadow: 0px 0px 3px white;
    text-transform: uppercase;
}

div.five h3 {
    padding-top: 8px;
    margin-top: 30px;
    font-size: 20px;
    color: rgb(233, 231, 231);
    text-align: center;
    text-shadow: 0px 0px 3px rgb(29, 204, 20);
    text-transform: uppercase;
}


input.problem {
    font-family: 'Pacifico', cursive;
    width: 50%;
    height: 150px;
    background-color: rgb(0, 0, 0, 0.8);
    border: none;
    color: white;
    margin-left: 25%;
    font-size: 30px;
}

input:focus {
    outline: none;
}


button:focus {
    outline: none;
}

.addProblem {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
}

i {
    font-size: 40px;
    border: none;
    color: white;
    margin: 10px 120px
}

.solutionText {
    font-size: 15px;
    text-align: center;
}

input.possibilities {
    font-family: 'Pacifico', cursive;
    width: 50%;
    height: 150px;
    background-color: rgb(0, 0, 0, 0.8);
    border: none;
    color: white;
    margin-left: 25%;
    font-size: 25px;
}


.advice {
    background-color: transparent;
    border: none;
    width: 100%;
    margin-bottom: 100px;
}

i {
    font-size: 40px;
    border: none;
    color: white;
    margin: 10px 120px
}

.my_sign {
    width: 50%;
    margin: 0 auto;
    border-top: 2px solid rgb(14, 90, 12);
    text-align: center;
}

/* media queries */


@media (max-width: 1024px) and (max-height: 768px) {
    div.one.active {
        font-size: 25px;
        height: 15%;
    }

    div.two.active {
        font-size: 35px;

    }

    div.three h2 {
        font-size: 40px;
    }

    input.problem {
        width: 90%;
        margin-left: 5%;
        font-size: 30px;
    }

    i {
        font-size: 30px;
        border: none;
        color: white;
        margin: 10px 120px
    }

    .solutionText {
        font-size: 19px;
        padding: 0px 3px;
        text-align: center;
    }

    input.possibilities {
        width: 90%;
        margin-left: 5%;
        font-size: 21px;
    }


    .advice {
        background-color: transparent;
        border: none;
        width: 100%;
        margin-bottom: 100px;
    }

    i {
        font-size: 40px;
        border: none;
        color: white;
        margin: 10px 120px
    }

    .my_sign {
        width: 50%;
        margin: 0 auto;
        border-top: 2px solid rgb(14, 90, 12);
        text-align: center;
    }
}


@media (max-width: 812px) and (max-height: 375px) {
    div.one.active {
        font-size: 25px;
        height: 25%;
    }

    div.two.active {
        font-size: 35px;

    }

    div.three h2 {
        font-size: 40px;
    }

    input.problem {
        width: 90%;
        margin-left: 5%;
        font-size: 30px;
    }

    i {
        font-size: 30px;
        border: none;
        color: white;
        margin: 10px 120px
    }

    .solutionText {
        font-size: 19px;
        padding: 0px 3px;
        text-align: center;
    }

    input.possibilities {
        width: 90%;
        margin-left: 5%;
        font-size: 21px;
    }


    .advice {
        background-color: transparent;
        border: none;
        width: 100%;
        margin-bottom: 100px;
    }

    i {
        font-size: 40px;
        border: none;
        color: white;
        margin: 10px 120px
    }

    .my_sign {
        width: 50%;
        margin: 0 auto;
        border-top: 2px solid rgb(14, 90, 12);
        text-align: center;
    }
}

@media (max-width: 768px) and (max-height: 1024px) {

    div.two.active {
        font-size: 45px;

    }


    input.problem {
        width: 70%;
        margin-left: 15%;
    }

    input.possibilities {
        width: 70%;
        margin-left: 15%;
    }
}

@media (max-width: 376px) and (max-height: 414px) {
    div.one.active {
        font-size: 18px;
        height: 31%;
    }

    div.two.active {
        font-size: 25px;

    }

    div.three h2 {
        font-size: 40px;
    }

    input.problem {
        width: 90%;
        margin-left: 5%;
        font-size: 30px;
    }

    i {
        font-size: 30px;
        border: none;
        color: white;
        margin: 10px 120px
    }

    .solutionText {
        font-size: 19px;
        padding: 0px 3px;
        text-align: center;
    }

    input.possibilities {
        width: 90%;
        margin-left: 5%;
        font-size: 21px;
    }


    .advice {
        background-color: transparent;
        border: none;
        width: 100%;
        margin-bottom: 100px;
    }

    i {
        font-size: 40px;
        border: none;
        color: white;
        margin: 10px 120px
    }

    .my_sign {
        width: 50%;
        margin: 0 auto;
        border-top: 2px solid rgb(14, 90, 12);
        text-align: center;
    }
}

@media (max-width: 375px) and (max-height: 812px) {
    div.one.active {
        height: 25%;
        font-size: 25px;
    }

    div.two.active {
        font-size: 35px;

    }

    div.three h2 {
        font-size: 40px;
    }

    input.problem {
        width: 90%;
        margin-left: 5%;
        font-size: 30px;
    }

    i {
        font-size: 30px;
        border: none;
        color: white;
        margin: 10px 120px
    }

    .solutionText {
        font-size: 19px;
        padding: 0px 3px;
        text-align: center;
    }

    input.possibilities {
        width: 90%;
        margin-left: 5%;
        font-size: 21px;
    }


    .advice {
        background-color: transparent;
        border: none;
        width: 100%;
        margin-bottom: 100px;
    }

    i {
        font-size: 40px;
        border: none;
        color: white;
        margin: 10px 120px
    }

    .my_sign {
        width: 50%;
        margin: 0 auto;
        border-top: 2px solid rgb(14, 90, 12);
        text-align: center;
    }
}


@media (max-width: 360px) and (max-height: 640px) {
    div.one.active {
        height: 20%;
        font-size: 18px;
    }

    div.two.active {
        font-size: 25px;

    }

    div.three h2 {
        font-size: 40px;
    }

    input.problem {
        width: 90%;
        margin-left: 5%;
        font-size: 30px;
    }

    i {
        font-size: 30px;
        border: none;
        color: white;
        margin: 10px 120px
    }

    .solutionText {
        font-size: 19px;
        padding: 0px 3px;
        text-align: center;
    }

    input.possibilities {
        width: 90%;
        margin-left: 5%;
        font-size: 21px;
    }


    .advice {
        background-color: transparent;
        border: none;
        width: 100%;
        margin-bottom: 100px;
    }

    i {
        font-size: 40px;
        border: none;
        color: white;
        margin: 10px 120px
    }

    .my_sign {
        width: 50%;
        margin: 0 auto;
        border-top: 2px solid rgb(14, 90, 12);
        text-align: center;
    }
}